.homeContainer {
    height: 100vh;
}
.carousels{
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.carousel1{
    background-image: url(../../Images/img_bg_1-PzvG2r05.jpg);
}
.carousel2{
    background-image: url(../../Images/img_bg_2-DzCs5o-0.jpg);
}
.content{
    height: 100%;
    margin: auto;
}
.content h1{
    font-family: 'Playfair Display', serif;
    font-size: 60px;
}
.content p{
    font-size: 18px;
    opacity: .8;
}
.content button{
    width: fit-content;
    letter-spacing: 2px;
    font-size: 14px;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
}
.content button:hover{
    background-color: #333;
    color: white;
}