
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;     
  height: 100vh;   
  background-color: var(--bs-light);
}
.profile-photo {
    width: 150px;
    height: 150px;
    overflow: hidden;
}
.profile-photo img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;

}
.sidebar h3 {
    font-family: Playfair Display, serif;
    font-size: 22px;
    font-weight: 700;
}
.sidebar span {
    text-transform: uppercase;
    font-size: 12px;
    color: gray;
}
.sidebar span>a{
    text-decoration: none;
}
.sidebar ul {
    list-style: none;
    padding: 0;
}
.sidebar ul li {
    width: fit-content;
    margin: auto;
    padding-bottom: 5px;
    position: relative;
    cursor: pointer;
}
.sidebar ul li a {
    text-transform: uppercase;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.618);
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: color 0.3s;
    font-family: "Quicksand", sans-serif;
}
.sidebar ul li::after{
    content: '';
    position: absolute;
    width: 0%;
    height: 1px;
    background-color: #82bff3;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transition: all .3s;
}
.sidebar ul li:hover::after{
    width: 100%;
}
.sidebar ul li a.active {
  color: #82bff3;
}
