.timeline-item::before {
    content: '';
    position: absolute;
    left: -18px;
    top: 27%;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 20px solid var(--bs-light);
}

.timeline-icon {
    color: #fff;
    position: absolute;
    top: 40px;
    left: -100px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.timeline::before {
    content: '';
    position: absolute;
    left: 110px;
    top: 0;
    width: 4px;
    height: 100%;
    background-color: var(--bs-light);
}