.work {
    padding: 4em 2em;
    min-height: 100vh;
}

.nav {
    justify-content: center;
    gap: 3em;
    background-color: var(--bs-dark);
    /* padding: 10px 0; */
}
.nav-pills .nav-link {
    background-color: transparent !important;
    position: relative;
    color: var(--bs-light) !important;
    opacity: .8;
    padding: 8px 0;
    margin: 8px 0;
    font-weight: 400;
    font-size: 14px;
    transition: all 0.3s;
}

.nav-pills .nav-link.active {
    opacity: 1;
    transition: all 0.3s;
}

.nav-pills .nav-link:focus-visible {
    outline: 0;
    box-shadow: none;
}

.nav-pills .nav-link:hover {
    background-color: none;
    opacity: 1;
    transition: all 0.3s;
}

.nav-pills .nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: var(--bs-light);
    left: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transition: all 0.3s;
}

.nav-pills .nav-link:hover::after {
    width: 100%;
}

.nav-pills .nav-link.active::after {
    width: 100%;
    background-color: var(--bs-light);
}
.work-card{
    overflow: hidden;
    height: 400px;
    user-select: none;
    position: relative;
}
.work-card img{
    height: 100%;
    padding: 0;
}
.img-cover{
    position: absolute;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #2c98f0;
    padding: 2em;
    opacity: 0;
    transition: all 0.5s;
}
.work-card:hover .img-cover{
    opacity: 1;
}
.img-cover > h2{
    color: white;
    text-decoration: underline white;
    opacity: 1;
    letter-spacing: 1px;
    transition: all 0.5s;
}
.img-cover > span{
    color: rgba(255, 255, 255, 0.553);
    font-size: 13px;
    opacity: 1;
    letter-spacing: 3px;
    transition: all 0.5s;
    font-weight: 500;
}
.img-cover .icons{
    bottom: 150px;
}
.img-cover .icons .icon{
    background-color: rgba(255, 255, 255, 0.5);
    width: fit-content;
    padding: 4px;
    border-radius: 10px;
    font-size: 13px;
}