.icon{
    position: absolute;
    bottom: 10px;
    left: 50px;
    font-size: 14px;
    color: #fff;
}
.icon span > a{
    color: #fff;
    background-color: var(--bs-gray) !important;
    text-decoration: none;
    margin-right: 15px;
    padding: 5px 10px;
    border-radius: 25px;
}
.image-cover{
    opacity: 0;
    width: 100%;
    height: 100%;
    transition: all 0.5s;
}

.card01:hover .image-cover{
    opacity: 1;
}